<div class="grid-container">
  <h1 class="mat-h1">布料庫存列表</h1>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="關鍵字查詢" #keyword>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-raised-button color="warn" (click)="deleteSelected()" *ngIf="hasSeleted && permission">刪除所選庫存<mat-icon class="specity-icon">delete_sweep</mat-icon></a>
      <a mat-raised-button color="primary" [routerLink]="['/', 'store', storeName, 'new']" *ngIf="permission">新增布料庫存<mat-icon class="specity-icon">add</mat-icon></a>
    </mat-card-actions>
  </mat-card>
  <br/>
  <mat-table #table [dataSource]="dataSource"
              matSort
              matSortActive="number"
              matSortDirection="asc"
              matSortDisableClear
              aria-label="Elements"
              align="center"
              >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <mat-header-cell  *matHeaderCellDef>
        <mat-checkbox #ref (change)="$event ? masterToggle(ref) : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null;isSomeSelected()"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Number Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>編號</mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">{{row.number}}</mat-cell>
    </ng-container>

    <!-- Shelf Column -->
    <ng-container matColumnDef="shelf">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>櫃位</mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">{{row.shelf}}</mat-cell>
    </ng-container>

    <!-- Shelf Column -->
    <!--<ng-container matColumnDef="quantity">-->
      <!--<mat-header-cell  *matHeaderCellDef mat-sort-header >數量</mat-header-cell>-->
      <!--<mat-cell  *matCellDef="let row" class="table-cell" >{{row.quantity}} 尺</mat-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <u>管理</u>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="management-cell">
        <button mat-button color="warn" (click)="$event.stopPropagation();edit(row)" class="management-button">編輯</button>
        <button mat-button color="primary" (click)="$event.stopPropagation();delete(row)" class="management-button">刪除</button>
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      class="table-row"
      (click)="onRowClicked(row)"
    ></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
