.table {
  &-row {
    &:hover {
      background-color: #555555;
      .table-cell {
        color: #EEE;
      }
    }
  }
  &-cell {
    user-select: text;
  }
}

.large {
  &-header-cell, &-cell {
    min-width: 250px;
  }
}
