<div class="grid-container">
  <h1 class="mat-h1">會員列表</h1>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="關鍵字查詢" #keyword>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <br/>
  <mat-table #table [dataSource]="dataSource"
              matSort
              matSortActive="number"
              matSortDirection="asc"
              matSortDisableClear
              aria-label="Elements"
              align="center"
              >
    <!-- uid Column -->
    <ng-container matColumnDef="uid">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">{{row.uid}}</mat-cell>
    </ng-container>

    <!-- displayName Column -->
    <ng-container matColumnDef="displayName">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>名稱</mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">{{row.displayName}}</mat-cell>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">{{row.email}}</mat-cell>
    </ng-container>

    <!-- phoneNumber Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>手機號碼</mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">{{row.phoneNumber}}</mat-cell>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>等級</mat-header-cell>
      <mat-cell  *matCellDef="let row" class="table-cell">{{row.role | json}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef>
        <u>管理</u>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="management-cell">
        <button mat-button color="warn" (click)="edit(row)" class="management-button">編輯</button>
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
