/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~ionicons/dist/css/ionicons.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

mat-header-cell, mat-cell {
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #424242 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.mat-table {
  position:relative;
  overflow-x: auto;
  width:100%;
}

.mat-row, .mat-header-row {
  min-width: 1200px;
  width:100%;
}
.mat-cell, .mat-header-cell {}
