<mat-toolbar color="primary" class="layout-toolbar">
  <button mat-icon-button (click)="sideLeftNav.toggle()"><mat-icon>{{ sideLeftNav.opened ? 'close' : 'menu' }}</mat-icon></button>
  <h1 class="layout-app-name"><a [routerLink]="['/']">庫存管理中心</a></h1>
  <span class="toolbar-separator"></span>
  <button mat-icon-button (click)="logout($event)" matTooltip="登出" matTooltipPosition="left">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="layout-container" (swipeleft)="sideLeftNav.close()">
  <mat-sidenav #sideLeftNav mode="push"
               [class.layout-sidenav]="isLargeScreen"
               [class.layout-sidenav-small]="!isLargeScreen"
               [class.layout-sidenav-left]="isLargeScreen"
               [class.layout-sidenav-small-left]="!isLargeScreen"
  >
    <mat-nav-list class="nav-list">
      <h3 matSubheader>
        <mat-icon>android</mat-icon>&nbsp;布料庫存
      </h3>
      <a mat-list-item [routerLink]="['/', 'store', 'xi-men', 'list']" class="layout-link-item">西門店</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    [class.layout-content]="isLargeScreen"
    [class.layout-content-small]="!isLargeScreen"
    (swiperight)="sideLeftNav.open()"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<footer>

</footer>
